.page-title {
    margin-bottom: 2rem;
    font-weight: bold;
}

.return-link {
    font-size: 1.15rem;
    i {
        font-weight: 400;
        margin-right: 0.5rem;
    }
    & + .page-title {
        margin-top: 1rem;
    }
}

.card-links {
    .card-row-cols {
        margin: 0 auto;
        .card { margin-bottom: 1rem; }
    }
    .card-deck {
        margin: 0;
        justify-content: space-between;
    }
    .card-body {
        height: 200px;
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .card-footer {
        background: $light-accent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        h5 {
            margin-bottom: 0;
            a {
                color: $dark;
                &:hover, &:focus, &.active { color: $primary; }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .card-links {
        .card {
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
        }
    }
}

@include media-breakpoint-down(md) {
    .card-links .card-body { height: 120px; }
}

@include media-breakpoint-only(xs) {
    .card-links .card-body { height: 30vh; }
}