.news-title, .news-info { margin-bottom: 1rem; }
.news-date {
    font-size: 0.85rem;
    margin-bottom: 0.75rem;
}
.news-item {
    .news-title { margin-bottom: 1.5rem; }
}
.news-content {
    text-align: justify;
    margin: 2.5rem auto;
    img {
        margin-bottom: 1rem;
        width: 100%;
    }
}