.product-display {
    .product-title { margin-bottom: 1.5rem; }
    .product-info {
        text-align: justify;
        margin: 2.5rem auto;
        img {
            margin-bottom: 1rem;
            width: 100%;
        }
    }
    .product-slider {
        .carousel-item {
            width: 100%;
            height: 200px;
            background-position: center center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}
