// Icons
.fa, .fas, .far {
    font-family: 'FontAwesome' !important;
    font-weight: 900;
}
.fab {
    font-family: 'FontAwesome' !important;
    font-weight: 400;
}

.flag-icon {
    width: 30px;
    height: 23px;
    border: 1px solid $border-color;
}